<%= form_for @order do |f| %>

    <fieldset>
      <legend>Vytvořit novou testovací platbu</legend>

      <p>
        <%= f.label :name, "Jméno produktu:" %>
        <%= f.text_field :name, :class => "text-field" %>
      </p>

      <p>
        <%= f.label :payment_method_code, "Platební kanál:" %>
        <%= f.select :payment_method_code,
                     options_for_select(@payment_methods.map { |p| [p.payment_method, p.code] }),
                     {:include_blank => true},
                     {:class => "select"} %>
      </p>

      <p>
        <%= f.label :price, "Částka v halířích:" %>
        <%= f.text_field :price, :class => "text-field" %>
      </p>

      <p>
        <%= label_tag :redirect_to_gopay, "Okamžitě zaplatit?:" %>
        <%= check_box_tag :redirect_to_gopay %>
      </p>

      <p>
        <%= f.submit "Vytvořit platbu na GoPay bráně", :class => "submit" %>
      </p>

    </fieldset>
<% end %>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>PSID</th>
    <th>Název</th>
    <th>Částka</th>
    <th>Datum</th>
    <!-- <th>Typ</th>-->
    <th>Stav</th>
    <th>Stav DB</th>
    <th>Akce</th>
  </tr>
  </thead>
  <tbody>

  <% Order.order("created_at asc").each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.payment_session_id %></td>
        <td><%= order.name %></td>
        <td><%= order.price %></td>
        <td><%= l order.created_at, :format => :short %></td>
        <!-- <td><%# order.payment_attrs[:payment_channel] %></td>-->
        <td>
          <% if order.state == "waiting" %>
              <%= order.payment_attrs[:session_state] %>
          <% else %>
              <%= "FINAL" %>
          <% end %>
        </td>
        <td><%= order.state %></td>
        <td><%= link_to "Odstranit", order_path(order),
                        :confirm => "Opravdu chcete tuto objednávku odstranit?",
                        :method => :delete %>
          <%= link_to_gopay("Zaplatit", order) unless order.state == "payment_done" %></td>
      </tr>

  <% end %>
  </tbody>
</table>

