<!DOCTYPE html>
<html>
<head>
  <title>GopayExampleApp</title>
  <link rel="shortcut icon" href="/favicon.ico"/>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="container">
    <%= link_to image_tag("logo.gif"), root_path %>
  </div>
</div>

<%= render "layouts/flashes" %>

<div id="main">
  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
